/*https://codepen.io/bmcarthur/pen/vQrpYY*/

.sprite-img {
  background-image: url("../image/layout/planet_namek_img_sprite.png");
  background-repeat:no-repeat;
  height:137px;
  width:549px;
}

.sprite-img.logo {
  background-position: 0 -7px;
  width:214px;
  height:68px;
float:left;
}

.sprite-img.sponsor {
  background-position:-214px -7px;
  width:3px;
  height:68px;
  float:left;
}

.sprite-img.buffer33 {
  background-position:-217px 0px;
  width:6px;
  height:75px;
  transform-origin: 0 0;
  transform:scaleX(100);
float:left;
}

.sprite-img.end {
  background-position:-222px -7px;
  width:79px;
  height:68px;
/*  transform: translateX(600px);*/
/*float:left;*/
}


.sprite-img.section {
  margin-top:10px;
  margin-left:-10px;
}


.sprite-img.top-section {
   margin:0 4px;
}


div.col-9 > div:nth-child(1) > a:link{
  text-decoration: none;
}

.sprite-img.section.info {
  background-position:-325px 0px;
  width:129px;
  height:20px;
}

.sprite-img.section.fanservices {
  background-position:-454px 0px;
  width:129px;
  height:20px;
}


.sprite-img.section.pn-old {
  background-position:-419px -27px;
  width: 125px;
  height: 15px;
}

.sprite-img.section.info-old {
  background-position:-419px -43px;
  width: 125px;
  height: 15px;
}

.sprite-img.section.fans-old {
  background-position:-419px -60px;
  width: 125px;
  height: 15px;
}

.sprite-img.top-section.community {
  background-position:-301px -28px;
  width: 110px;
  height: 15px;
}

.sprite-img.top-section.top-news {
  background-position:-301px -44px;
  width: 110px;
  height: 15px;
}

.sprite-img.top-section.releases {
  background-position:-301px -60px;
  width: 110px;
  height: 15px;
}

.sprite-img.humor {
  background-position:0px -76px;
  width: 549px;
  height: 30px;
}

.sprite-img.section.battle {
  background-position:0px -108px;
  width: 549px;
  height: 30px;
}


.buffer-container {
  display:flex;
flex-direction:row;
margin-top:7px;
}

.buffer {
height:1px;
position:absolute;
top:10px;
left:100px;
background-color:#949494;
width:90%;
}

.buffer2 {
height:68px;
/*position:absolute;
top:11px;
left:100px;
*/background-color:#333;
width:90%;
}

.header {
  margin-top:10px;
  margin-left:10px;
  overflow-x:hidden;
}

.gal-font {
  font-family:"Verdana","Arial","Helvetica";
  color:#000;
  font-size:0.625em;
  background-color:#fff;
}

.caption {
  background-color:#eee;
  margin-top:10px;
}

.gallery-block.grid-gallery{
  padding-bottom: 60px;
/*  padding-top: 60px;*/
}

.gallery-block.grid-gallery .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover{
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
 /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s; */
  height: 75px;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}

.item {
  margin-top:20px;
}

.img-fluid {
  display:block;
  margin:0 auto;
}



@media (min-width: 576px) {

  .gallery-block.grid-gallery .scale-on-hover:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}



.diagonal-bg {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: white;

  background: repeating-linear-gradient(
    270deg,       /* angle of the stripe */
    #fc0 10px,
    #0077b6 20px, /* stripe thickness */
    #000 40px,
    #ffffff 100px  /* gap thickness */
  );
}


