/*https://codepen.io/bmcarthur/pen/vQrpYY*/


.buffer-container {
  display:flex;
flex-direction:row;

}

.buffer {
height:1px;
position:absolute;
top:10px;
left:100px;
background-color:#949494;
width:100%;
}

.buffer2 {
height:70px;
position:absolute;
top:11px;
left:100px;
background-color:#333;
width:100%;
}

.logo {
  margin-top:10px;
}

.gal-font {
  font-family:"Verdana","Arial","Helvetica";
  color:#000;
  font-size:larger;
  background-color:#fff;
}

.caption {
  background-color:#eee;
}

.gallery-block.grid-gallery{
  padding-bottom: 60px;
/*  padding-top: 60px;*/
}

.gallery-block.grid-gallery .heading{
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading h2{
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery a:hover{
  opacity: 0.8;
}

.gallery-block.grid-gallery .item img{
 /* box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
  transition: 0.4s; */
  height: 75px;
}

.gallery-block.grid-gallery .item{
  margin-bottom: 20px;
}

@media (min-width: 576px) {

  .gallery-block.grid-gallery .scale-on-hover:hover{
    transform: scale(1.05);
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
  }
}



.diagonal-bg {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  color: white;

  background: repeating-linear-gradient(
    270deg,       /* angle of the stripe */
    #fc0 10px,
    #0077b6 20px, /* stripe thickness */
    #000 40px,
    #ffffff 100px  /* gap thickness */
  );
}


